@import '../fonts/fonts.css';

header {
  width: 100%;
  height: 90px;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
}

#logo {
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  object-fit: contain;
  margin-left: 80px;
}

#pagetitle {
  margin: 0;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 28px;
  margin-left: 16px;
}

#profile-link {
  margin: 0;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left: auto;
  margin-right: 80px;
  text-decoration: none;
}

#profile-link:visited {
  color: #000;
}

#profile-link:hover {
  text-decoration: underline;
}

#home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.beeyou-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 28px;
}